@media (min-width: 1080px) {

.br2 {
        display: none;
}


}

@media (max-width: 1080px) {

.container {
    width: 770px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 70px;
}

.header-space {
    margin: 0 16px;
}

.header-logo {
    width: 60px;
}

.header-btn {
    padding: 7px 12px;;
}

.top-img-commentA, .top-img-commentB, .top-img-commentC {
    top: 25%;
}

.icon {
    width: 100px;
}

.side-img {
    display: none;
}

.mp1-img {
    width: 450px;
    height: 300px;
}

.article-icon {
    width: 80px;
    height: 80px;
}

.mp-title {
    font-size: 26px;
}

.mp-statement {
    font-size: 15px;
}

.store-img {
    padding: 5px;
    width: 230px;
}

.store-name {
    font-size: 20px;
}

.store-price {
    font-size: 18px;
    padding: 20px 0 10px;
}

.store-note1 {
    font-size: 15px;
    padding-bottom: 7px;
}

.store-note2 {
    font-size: 15px;
    padding-bottom: 35px;
}

.store-contents {
    margin-bottom: 50px;
}

.blog-contents {
    margin-bottom: 50px;
}

.blog-img {
    width: 230px;
}

.blog-img-comment {
    left: 138px;
}

.blog-title {
    font-size: 16px;
}

.event-img {
    padding: 30px 18px;
}

.season {
    font-size: 25px;
    padding: 5px 0 10px;
}

.event-note {
    font-size: 15px;
}

.event-img {
    width: 150px;
}

.event-icon {
    top: 45px;
    left: 40px;
    width: 70px;
}

.icon-arrow1, .icon-arrow2, .icon-arrow3 {
    width: 40px;
    position: absolute;
    top: 50px;
    left: -20px;
}

.span1 {
    display: none;
}

/*以下about*/

.about-main {
    flex-direction: column;
    text-align: center;
}

/*以下news*/

.blog2 {
    flex-direction: column;
}

.blog-responsive-container {
    width: 500px;
    max-width: 100%;
}

}

@media (min-width: 767px) {

.br {
    display: none;
}

.header-responsive {
    display: none;
}

}


@media (max-width: 767px) {

.br3 {
    display: none;
}

.container-responsive {
    padding: 0 17px;
    width: 97%;
    margin: 0 auto;
}

.container {
    padding: 0 17px;
    width: 340px;
    max-width: 100%;
    margin: 0 auto;
}

.icon-primary-p {
    font-size: 18px;
}

.header-contents {
    display: none;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    width: 50px;
}
.header-logo-responsive {
    margin-top: 5px;
    width: 60px;
}

.header-responsive {
    display: flex;
    justify-content: space-between;
}

.menu-wrap {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #295525;
}

.menu-icon {
    display: block;
    font-size: 50px;
    padding: 2px 0;
    z-index: 999;
    color: #295525;
}

.fa {
    font-weight: 900;
}


.icon {
    width: 80px;
}

.icon-border {
    width: 200px;
}

.icon-p {
    font-size: 25px;
}

.icon-border-p {
    font-size: 17px;
}

.side-img {
    display: none;
}

.mp {
    flex-direction: column;
    width: 500px;
    max-width: 100%;
}

.flex-img1 {
    order: 1;
}

.mp-flex1 {
    order: 2;
}

.flex-img2 {
    order: 3;
}

.mp-flex2 {
    order: 4;
}

.flex-img3 {
    order: 5;
}

.mp-flex3 {
    order: 6;
}

.mp-title {
    font-size: 25px;
}

.mp-statement {
    font-size: 18px;
}

.store-wrapper {
    flex-direction: column;
}

.store-contents {
    margin-bottom: 40px;
}

.blog {
    flex-direction: column;
}

.blog-contnets {
    margin-bottom: 40px;
}

.blog-img {
    width: 310px;
}

.blog-img-comment {
    left: 214px;
}

.event-wrap {
    flex-direction: column;
}

.event-contents {
    text-align: center;
}

.event-img {
    width: 200px;
}

.event-icon {
    left: 80px;
    top: 50px;
    width: 100px;
}

.icon-arrow1, .icon-arrow2, .icon-arrow3 {
    transform: rotate(90deg);
    position: static;
}

.icon-arrow-wrap {
    text-align: center;
    position: static;
}

.footer-icon {
    width: 80px;
}

.footer-a {
    font-size: 14px;
}

.footer-sub {
    display: flex;
    flex-direction: column;
}

.footer-line2 {
    padding: 0;
    margin: 0;
    border: none;
}

.Copyright {
    font-size: 13px;
}

/*以下about*/

.about-note1, .about-note2, .about-note3 {
    font-size: 18px;
    line-height: 32px;
    padding: 15px 0;
}

.company-side-img {
    display: none;
}

.company-information {
    justify-content: space-between;
}

.company-topic {
    font-size: 23px;
}

.company-note {
    font-size: 19px;
    display: flex;
    justify-content: flex-end;
}

/*以下news*/

.sub-comment {
    font-size: 24px;
}

.blog-responsive-hide {
    display: none;
}

.blog-date2 {
    font-size: 16px;
}

.blog-title2 {
    font-size: 20px;
}

.blog-img-comment2 {
    left: 184px;
}

}


@media (max-width: 500px) {

.mp {
    width: 340px;
}   
    
}
