body {
    font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

* {
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

header {
    height: 100px;
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
}

.japanese {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    line-height: 24px;
}

.english {
    font-size: 14px;
    font-weight: bold;
    color: #295525;
    line-height: 19px;
}

.header-contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 80px;
}

.list-a, .list-b, .list-c, .list-d {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-img {
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 270px;
}

.background-color {
    background-color: #FFFDF6;
}

.icon-contents {
    text-align: center;
}

.icon {
    padding: 100px 0 33px 0;
}

.icon-p {
    font-size: 36px;
    font-weight: bold;
}

.icon-border {
    padding: 20px 0 37px 0;
}

.icon-primary-p {
    padding: 30px 0 36px 0;
    font-size: 26px;
    font-weight: bold;
    line-height: 65px;
}

.liner {
    background: linear-gradient(transparent 50%, yellow 70%);
}

.local-img {
    max-width: 100%;
    height: auto;
}

.icon-border-p {
    padding-bottom: 67px;
    font-size: 18px;
    font-weight: bold;
}

.mp1-img {
    width: 497px;
    height: 333px;
    max-width: 100%;
}

.article-icon {
    width: 120px;
    height: 120px;
}

.side-img {
    width: 67px;
    height: 333px;
}

.mp-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 43px;
    color: #333333;
    padding-top: 10px;
}

.mp-statment {
    font-size: 18px;
    color: #333333;
    line-height: 24px;
}

.mp-center-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 53px;
}

.mp-center {
    width: 420px;
    max-width: 100%;
}

.mp {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 1080px;
    padding-bottom: 60px;
}

.store-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.store-img {
    padding: 15px;
}

.store-name {
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
}

.color {
    font-size: 40px;
    line-height: 53px;
    color: #295525;
}

.store-price {
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    padding: 30px 0 19px;
}

.store-note1 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 9px;
}

.store-note2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding-bottom: 47px;
}

.store-contents {
    box-shadow: 1px 1px 3px #929292;
    margin-bottom: 70px;
    border-radius: 3px;
}

.btn-wrapper {
    text-align: center;
}

.btn {
    padding: 16px 67px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    background-color: #295525;
    border-radius: 100px;
    display: inline-block;
    margin-bottom: 40px;
    transition:all .5s ease-in-out;
}

.btn:hover{
    text-shadow:
      0 0 10px rgba(255,255,255, 1),
      0 0 50px rgba(255, 255, 255, .8),
      0 0 75px rgba(255, 255, 255, .6),
      0 0 76px rgba(255, 255, 255, .4),
      0 0 77px rgba(255, 255, 255, .5),
      0 0 78px rgba(255, 255, 255, .4),
      0 0 79px rgba(255, 255, 255, .3),
      0 0 80px rgba(255, 255, 255, .2),
      0 0 85px rgba(255, 255, 255, .1);
  }

.blog {
    display: flex;
    justify-content: space-between;
}

.blog-cotents {
    box-shadow: 1px 1px 2px #929292;
    margin-bottom: 70px;
    border-radius: 3px;
    position: relative;
}

.blog-img-comment {
    position: absolute;
    top: 10px;
    left: 228px;
    color: #295525;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding: 2px 17px;
    background-color: yellow;
}

.blog-img {
    max-width: 100%;
    width: 320px;
    padding: 10px
}

.blog-date {
    font-size: 14px;
    font-weight: bold;
    color: #295525;
    line-height: 19px;
    padding: 7px 0 10px 10px;
}

.blog-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 0 0 17px 10px;
}

.event-wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 70px 23px 75px 23px;
    border: dashed 2px;
}

.icon-arrow {
    line-height: 50px;
}

.season {
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    color: #295525;
    text-align: center;
    padding: 13px 0 32px;
}

.event-note {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #333333;
    text-align: center;
}

.event-contents {
    position: relative;
}

.event-icon {
    position: absolute;
    top: 38px;
    left: 45px;
}

.event {
    padding-bottom: 40px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img {
    max-width: 100%;
    width: 300px;
    height: 280px;
    padding-bottom: 30px;
}

.footer-main {
    text-align: center;
}

.footer-icon {
    padding-bottom: 17px;
    max-width: 120px;
}

.adress {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    padding-bottom: 16px;
}

.footer-main {
    padding-bottom: 35px;
}

.footer-sub {
    text-align: center;
    white-space: nowrap;
}

footer li {
    display: inline;
}

.footer-a {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
}

.footer-line1 {
    margin-right: 20px;
}

.footer-line2 {
    margin-right:20px;
	padding-left:20px;
    border-left:1px solid #707070;
}

.footer-bar {
    background-color: #295525;
    height: 50px;
    margin-top: 30px;
}

.Copyright {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 50px;
    color: #ffffff;
}













html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

